// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Bootstrap customizations

$light: #dae1e6;
$white: #ffffff;
$dark: #131c25;
$primary: #006699;
$secondary: #1c78bc;
$info: #309170;
